[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Storage Device Manager
Name[es]=Dispositivos de Almacenamiento
Comment=Management of Storage Devices
Comment[es]=Configurar los dispositivos de almacenamiento
Type=Application
Exec=gksudo pysdm
Icon=gnome-dev-harddisk
Terminal=false
Categories=Application;System;Settings;
StartupNotify=true
