[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Storage Device Manager
Comment=Management of Storage Devices
Type=Application
Exec=gksudo /usr/sbin/pysdm
Icon=gnome-dev-harddisk.png
Terminal=False
Categories=Application;System;Settings
StartupNotify=true
